<script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>

<body style="margin : 0px; overflow: hidden;">
  <a-scene embedded arjs>
    <!-- Zdrojem pro 3D model mi byla má práce na MGA, přesněji napodobení husitské pavézy sv.Jiří, zvané Čermákovy -->
      <a-assets>
        <!-- Jako source jsem původně používal nahraný soubor do Glitche, ten ovšem lze pohodlně obměnit s přiložením stáhnutého souboru .glb již zmíněné pavézy -->
        <a-asset-item id="paveza" src="paveza.glb"></a-asset-item>
      </a-assets>
      <!-- Jako podstavec jsem použil pouhou rovinu rotovanou do strany, aby sloužila, jako takový pevný bod -->
      <a-plane position="" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" material="color: #b5b5b5" geometry="" scale="0.5 0.5 0.5"></a-plane>
      <!-- Původní model byl poněkud nepohodlně rotovaný, upravoval jsem ho tedy ve 3D prostředí Glitche, aby byl správně umístěn vůči pohledu zepředu-->
      <a-entity gltf-model="#paveza" rotation="0 -90 0" position="0 0 -0.5"></a-entity>
      <!-- A finálně ještě popisný text, největším nepohodlím pro mě byly nadbitečné pixely, ve kterém jsou písmena prováděna, upravováním wrapCountu jsem se odchilky snažilk alespoň minimalizovat-->
      <a-text value="text" color="#ffffff" position="0 2 0" text="value: Paveza sv.Jiri; color: #000000; align: center; negate: false; wrapCount: 15" scale="0.5 0.5 0.5"></a-text>

    <!-- Pohyb kamery podle Hiro markeru -->
    <a-marker-camera preset="hiro"></a-marker-camera>
  </a-scene>
</body>